.shoe {
  position: relative;
  background-color: #f6f6f6;
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 40px 20px;
  transition: all ease 0.3s;
}

.shoe:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.shoe__image-container {
  display: flex;
  justify-content: center;
}

.shoe__image {
  transform: rotate(-35deg);
}

.shoe__info {
  text-align: center;
  margin: 40px 0px;
}

.shoe__name {
  letter-spacing: 1.5px;
  margin-bottom: 10px;
}

.shoe__btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.shoe__btn {
  font-size: 14px;
}
