.header {
  background-color: #000;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 75px;
  transition: all ease-in-out 0.3s;
}

.header__shadow {
  box-shadow: 0 5px 10px rgba(57, 63, 72, 0.3);
}

.header__content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em calc((100vw - 1200px) / 2);
  margin: 0 24px;
}

.header__title {
  font-size: 24px !important;
  color: #fff;
}

.header__badge {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
}

.header__icon {
  transition: all ease-in-out 0.3s;
}

.header__icon:hover {
  color: rgba(255, 255, 255, 0.75) !important;
}
