.footer {
  background-color: #000;
  color: #fff;
}

.footer__content {
  margin: 0 24px;
  padding: 2em calc((100vw - 1200px) / 2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__content > div {
  margin-bottom: 2em;
}

.footer__icon {
  color: #fff;
  font-size: 24px;
  transition: all 0.25s ease-in-out;
}

.footer__icon:hover {
  color: rgba(255, 255, 255, 0.75);
}

.footer__icons a:not(:first-child) {
  margin-left: 0.5em;
}

.footer__list {
  text-align: center;
  font-size: 14px;
}

.footer__list-item a {
  color: #fff;
  transition: all ease 0.25s;
}

.footer__list-item a:hover {
  color: rgba(255, 255, 255, 0.75);
}

.footer__list-item:not(:last-child) {
  margin-bottom: 0.5em;
}

.footer__copy {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.75);
}

@media only screen and (min-width: 768px) {
  .footer__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .footer__content > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
