* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  min-width: 280px;
}

.btn {
  font-size: 12px;
  font-weight: 600;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  background-color: #000;
  border-radius: 7.5px;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transition: all ease 0.3s;
}
